.section {
  border: solid 10px #1c9ea8;
  width: 75%;
  height: 100vh;
  box-sizing: border-box;
  display: inline-block;
}

.celda {
  border: solid black 1px;
  display: inline-block;
  box-sizing: border-box;
}
